* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.form {
  width: 100%;
  height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}
.form input {
  width: 100%;
  height: 100%;
  background: none;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: 0px;
}
.form .ammount-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}
.form .ammount-label:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2ecece;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.amount-text {
  position: absolute;
  bottom: 5px;
  left: 30%;
  transition: all 0.3s ease;
  color: black;
}
.form input:focus + .ammount-label .amount-text,
.form input:valid + .ammount-label .amount-text {
  transform: translateY(-150%);
  font-size: 14px;
  color: #2ecece;
}
.form input:focus + .ammount-label:after,
.form input:valid + .ammount-label:after {
  transform: translateX(0%);
}
.btn {
  padding: 7px 14px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 8%;
}
